@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?14skuy');
    src:  url('../fonts/icomoon/icomoon.eot?14skuy#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?14skuy') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?14skuy') format('woff'),
      url('../fonts/icomoon/icomoon.svg?14skuy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home:before {
    content: "\e900";
  }
  .icon-bullhorn:before {
    content: "\e91a";
  }
  .icon-mic:before {
    content: "\e91e";
  }
  